body {
  min-height: 2000px;
  padding-top: 70px;
}
h1 {
    font-family: Bitter,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    margin: 1em 0;
}
h3 {
    color: #3a3a3a;
    font-size: 21px;
    font-weight: 600;
}
b, strong{
    font-weight: 700;
}
.header-buttons {
    /*margin: 12px 0 0;*/
}
.btn-red {
    background: #f26522 none repeat scroll 0 0 !important;
}
.btn {
    border-radius: 30px;
}
.login-column {
    padding-left: 10px;
}
.input{
    background-color: #fff;
    border-radius: 2px;
    /*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);*/
    color: rgba(0, 0, 0, 0.54);
    font-family: "Open Sans","Helvetica Neue","sans-serif";
    font-size: 16px;
    height: 48px;
    line-height: 26px;
    padding: 5px 15px;
}
.input:hover,.input:focus{
    box-shadow: none;
}
.input:focus,.input:active{
    border: 1px solid #49a32b;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.87);
}
#bg{
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.panel {
    background-color: #fff;
    border: 1px solid #f37123;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 15px 0 0;
    padding: 10px;
}
.decorate-div{
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 0;
    min-height: 200px;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.splash-panel{
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffffff 0%, #ffffff 50%, #f0f0ed 50%, #f0f0ed 100%) repeat scroll 0 0;
    box-shadow: 0 15px 12px 0 rgba(0, 0, 0, 0.22), 0 19px 38px 0 rgba(0, 0, 0, 0.3);
    margin-top: 25%;
}
/* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) and (max-width : 479px) {

    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) and (max-width : 767px) {
        .container{
            max-width: 767px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) and (max-width : 991px) {
        .container, .wrapper{
            width: 100%;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) and (max-width : 1199px) {
        .container, .wrapper{
            max-width: 992px;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .container, .wrapper{
            width: 1000px;
        }
    }